# 백엔드 API URL
EXPO_PUBLIC_API_URL=http://localhost:8000

# S3에 업로드된 경량화 GLB 아바타 URL (Phase 2)
EXPO_PUBLIC_AVATAR_URL_1=https://myonterview-assets.s3.ap-northeast-2.amazonaws.com/avatars/interviewer_1.glb
EXPO_PUBLIC_AVATAR_URL_2=https://myonterview-assets.s3.ap-northeast-2.amazonaws.com/avatars/interviewer_2.glb
EXPO_PUBLIC_AVATAR_URL_3=https://myonterview-assets.s3.ap-northeast-2.amazonaws.com/avatars/interviewer_3.glb
